*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  justify-content: end;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:nth-last-child() {
  padding-right: 120px;
}
